[Desktop Entry]
Name=5D Chess With Multiverse Time Travel
Comment=Play this game on Steam
Exec=steam steam://rungameid/1349230
Icon=steam_icon_1349230
Terminal=false
Type=Application
Categories=Game;
