[Desktop Entry]
Name=SHENZHEN I/O
Comment=Play this game on Steam
Exec=steam steam://rungameid/504210
Icon=steam_icon_504210
Terminal=false
Type=Application
Categories=Game;
